.chatHeader {
  display: flex;
  justify-content: space-between;
  margin-right: 1px;
  height: 95px;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;  border-top-right-radius: 30px;
  z-index: 1;
  
}

.chatHeader__left {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.chatHeader__info {
  margin-left: 15px;
}

.chatHeader__right {
  margin-right: 10px;
}
